@import 'props';
@import './mixins.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background-color: var(--font);
  color: var(--background);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  @extend %grid;
  @extend %ma0;
  @extend %overflow-x-hidden;

  background-color: var(--background);
  color: var(--font);
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  grid-template-columns: minmax(2rem,1fr) minmax(1rem,75rem) minmax(2rem,1fr);
  grid-template-rows: repeat(3, auto);
  line-height: 1.4;

  &.dyslexic {
    font-family: "Dyslexic", sans-serif;
    font-size: 0.85em;
  }
}

@import 'extends';

a {
  @extend %no-underline;
  color: var(--font);

  &:hover {
    @extend %underline;

    color: var(--font);
    text-decoration-color: var(--accent) !important;
  }

  &:visited {
    color: inherit;
  }

  &:not([class]) {
    @extend %underline;

    text-decoration-color: var(--accent) !important;

    &:hover {
      color: var(--accent);
    }
  }
}

blockquote,
li,
p {
  margin: 0 0 0.75rem;
}

blockquote {
  border-left: 0.125em solid var(--accent);
  padding-left: 0.75rem;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.3;
  text-transform: capitalize;
}

h2,
h3,
h4 {
  margin: 0.75rem 0 1rem;
}

h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
  
  &.title {
    font-size: 2.5rem;
    margin-top: 0.75rem;
  }
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

header {
  @extend %grid;
  @extend %left-0;
  @extend %relative;
  @extend %w-100;

  background-color: hsl(232, 16%, 16%);
  border-bottom: 1rem solid var(--accent);
  grid-column: 1/4;
  grid-row: 1/2;
  grid-template-columns: auto repeat(2, minmax(13.5rem,37.5rem)) auto;
  margin: 0 auto 0 0;
  padding: 1rem 2rem;

  &:before {
    @extend %absolute;
    @extend %background-accent--light;
    @extend %content;
    @extend %left-0;
    @extend %right-0;
    @extend %top-0;
    @extend %w-100;
    @extend %z-under;

    bottom: -2rem;
    min-height: 1rem;
  }

  a, h1 {
    font-size: 1.15rem;
  }

  h1 span {
    font-weight: normal;
  }

  @include media-query-max(30rem) {
    border-right: 1rem solid var(--accent);
    width: calc(100vw - 1rem);

    &::after, &::before {
      width: 100vw;
    }
  }
}

nav {
  @extend %content-between;
  @extend %flex;
  @extend %j-self-end;
  @extend %pb1;
  @extend %pt1;
  @extend %w-100;

  grid-column: 3/4;
  margin-right: 3rem;
  max-height: 3.5rem;
  max-width: 11rem;

  @include media-query-max(30rem) {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: start;
    margin: 0;
  }
}

@supports (display:grid) {
  .icon {
    &:before {
      @extend %background-accent;
    }
  
    .icon__svg {
      @include transition(fill);
  
      fill: var(--font);
    }
  
    &:hover {
      .icon__svg {
        fill: var(--background);
      }
    }
  }
}

.marked:before {
  @extend %background-accent;
}

.meta {
  color: var(--meta);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

.noise,
.toggle::after,
.toggle::before {
  animation: fade-in 2s;
}

.noise {
  @extend %absolute;
  @extend %bottom-0;
  @extend %left-0;
  @extend %right-0;
  @extend %top-0;
  @extend %z20;

  background-size: calc(2px * var(--noiseSize));
  opacity: 0.012;
  pointer-events: none;
}

.sr {
  @extend %absolute;
  @extend %overflow-hidden;

  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  height: 0.1rem;
  width: 0.1rem;
}

.toggle {
  &:after {
    @extend %transition--all;
  }
  &:before {
    @extend %background-accent--light;
    @extend %transition--all;
  }
}

#theme {
  @extend %z-under;

 &:checked ~ .toggle::before {
    background: transparent;
    box-shadow: 0.3125rem 0.3125rem 0 0 var(--accentLight);
    right: 0.5rem;
  }
}