@import './extends.scss';
@import './mixins.scss';

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

article {
  @extend %flex;
  @extend %flex-column;
  @extend %items-flex-start;
  @extend %m--horizontal;
  @extend %w-100;

  a:not([class]) {
    @extend %underline;

    text-decoration-color: var(--accent) !important;

    &:hover {
      color: var(--accent);
    }
  }
}

footer {
  @extend %content-center;
  @extend %grid;
  @extend %items-start;
  @extend %m--horizontal;
  @extend %pa2;
  @extend %relative;
  @extend %w-100;

  grid-column: 1/4;
  grid-gap: 1rem;
  grid-row: 3/4;
  grid-template-columns: 6.5rem minmax(10.5rem,32rem);
  grid-template-rows: min-content 2.5rem;

  &:before {
    @extend %absolute;
    @extend %background-accent--light;
    @extend %bottom-0;
    @extend %content;
    @extend %left-0;
    @extend %right-0;
    @extend %w-100;
    @extend %z-under;

    top: -2rem;
    min-height: 1rem;
  }

  dl {
    @extend %content-between;
    @extend %flex;
    @extend %items-center;
    @extend %j-self-end;
    @extend %ma0;
    @extend %w-100;

    max-width: 8rem;
  }

  dd {
    @extend %ma0;

    height: 40px;
  }
}

footer dl,
.hire {
  @extend %a-self-center;
  
  grid-column: 2/3;
  grid-row: 2/3;
}

img {
  @extend %m--horizontal;

  height: auto;
  object-fit: contain;
  object-position: left bottom;
}

main {
  @extend %m--horizontal;
  @extend %pb2;
  @extend %pt2;

  grid-column: 2/3;
  grid-row: 2/3;
  min-height: calc(100vh - 22rem);
}

picture {
  @extend %overflow-hidden;
}

time {
  @extend %f7;
  @extend %mra;
}

.avatar {
  @extend %flex;
  @extend %mr1;
  @extend %relative;

  &, img {
    height: 6.5rem;
    width: 6.5rem;
  }
}

.error {
  @extend %text-center;

  margin: 2rem auto;
  max-width: 21rem;
}

.foot__copy {
  @extend %flex;
  @extend %flex-column;
  @extend %items-flex-start;
  @extend %mb1;
  @extend %w-100;

  max-width: 32rem;
}

.foot__head {
  @extend %ma0;
  @extend %mb1;
}

.foot__body {
  @extend %ma0;
  @extend %w-100;

  max-width: 32rem;
}

.home {
  @extend %content-flex-start;
  @extend %flex;
  @extend %flex-column;
  @extend %items-flex-start;
  @extend %mb0;
  @extend %mra;
  @extend %no-underline;
  @extend %pb1;
  @extend %pt1;
  @extend %relative;

  grid-column: 2/3;
  width: 13.5rem;
}

@supports (display:grid) {
  .icon {
    &:before {
      @extend %absolute;
      @extend %background-accent;
      @extend %border--round;
      @extend %content;
      @extend %z1;

      @include transition(transform);

      height: 2.5rem;
      pointer-events: none;
      transform: scale(0);
      width: 2.5rem;
    }

    .icon__svg {
      @extend %z5;

      @include transition(fill);

      fill: hsl(64, 32%, 96%);
    }

    &:hover {
      &:before {
        transform: scale(1);
      }
    }
  }
}

.icon {
  @extend %content-center;
  @extend %flex;
  @extend %items-center;
  @extend %no-underline;
  @extend %relative;

  height: 2.5rem;
  width: 2.5rem;
}

.marked {
  @extend %mra;
  @extend %relative;

  &:before {
    @extend %absolute;
    @extend %background-accent;
    @extend %bottom-0;
    @extend %content;
    @extend %left-0;
    @extend %z1;

    height: 0.15rem;
    width: 3rem;
  }
}

.meta {
  &, &:visited {
    color: var(--meta);
  }

  &:hover {
    color: var(--font);
  }
}

.meta__wrap {
  @extend %content-between;
  @extend %flex;
  @extend %flex-wrap;
  @extend %w-100;

  margin-bottom: 0.75rem;
}

.noise,
.toggle::after,
.toggle::before {
  animation: fade-in 2s;
}

.noise {
  @extend %absolute;
  @extend %bottom-0;
  @extend %left-0;
  @extend %right-0;
  @extend %top-0;
  @extend %z20;

  background-size: calc(2px * var(--noiseSize));
  opacity: 0.012;
  pointer-events: none;
}

.permalink {
  margin: 1rem 0;

  h2 {
    @extend %ma0;
  }
}

.tag {
  @extend %f7;
  @extend %ma0;
  @extend %mr1;
}

.theme__wrap {
  @extend %absolute;
  @extend %content-center;
  @extend %flex;
  @extend %items-flex-start;

  height: 1.5rem;
  right: 0;
  top: 2rem;
  width: 1.3125rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.toggle {
  cursor: pointer;

  &:after {
    @extend %absolute;
    @extend %content;
    @extend %ma0;
    @extend %transition--all;

    border-radius: 1rem;
    display: inherit;
    height: 1.5rem;
    vertical-align: middle;
    width: 1.3125rem;
  }

  &:before {
    @extend %absolute;
    @extend %background-accent--light;
    @extend %bottom-0;
    @extend %content;
    @extend %right-0;
    @extend %transition--all;
    @extend %z5;

    border-radius: 100%;
    height: 1rem;
    margin: 0.25rem;
    transform: rotate(-45deg);
    width: 1rem;
  }
}

#theme {
  @extend %z-under;

 &:checked ~ .toggle::before {
    background: transparent;
    box-shadow: 0.3125rem 0.3125rem 0 0 var(--accentLight);
    right: 0.5rem;
  }
}
