html[data-theme="light"] {
  --background: hsl(64, 32%, 96%);
  --font: hsl(232, 16%, 16%);
  --meta: hsl(0, 0%, 40%);
}
html[data-theme="dark"] {
  --background: hsl(232, 16%, 16%);
  --font: hsl(64, 32%, 96%);
  --meta: hsl(0, 0%, 56%);
}
html {
  --accent: hsl(264, 88%, 72%);
  --accentLight: hsl(264, 88%, 80%);
  --noiseSize: 64;
  --duration: 256ms;
}
@media (prefers-color-scheme: light) {
  html {
    --theme: light;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    --theme: dark;
  }
}