html[data-theme='light'] {
  --bg: #f8f8f2;
  --bg-dark: #22242f;
  --font: #1a1b23;
  --meta: #666;
}

html[data-theme='dark'] {
  --bg: #22242f;
  --bg-dark: #1a1b23;
  --font: #f8f8f2;
  --meta: #8f8f8f;
}

html {
  --primary: #ab79f6;
  --primary-light: #c39ff9;
  --base: 64;
  --duration: 256ms;
}

@media (prefers-color-scheme: light) {
  html {
    --theme: light;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --theme: dark;
  }
}

*,
:after,
:before {
  box-sizing: inherit;
}

::-moz-selection {
  background-color: var(--font);
  color: var(--bg);
}

::selection {
  background-color: var(--font);
  color: var(--bg);
}

html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: var(--bg);
  color: var(--font);
  display: grid;
  font-family: Rubik, sans-serif;
  font-size: 100%;
  grid-template-columns: minmax(2em, 1fr) minmax(1rem, 56rem) minmax(2em, 1fr);
  grid-template-rows: repeat(3, auto);
  line-height: 1.4;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

body.dyslexic {
  font-family: Dyslexic, sans-serif;
  font-size: 0.85em;
}

@media screen and (max-width: 416px) {
  body {
    font-size: 92%;
  }
}