html[data-theme='light'] {
  --bg: #f8f8f2;
  --bg-dark: #22242f;
  --font: #1a1b23;
  --meta: #666;
}

html[data-theme='dark'] {
  --bg: #22242f;
  --bg-dark: #1a1b23;
  --font: #f8f8f2;
  --meta: #8f8f8f;
}

html {
  --primary: #ab79f6;
  --primary-light: #c39ff9;
  --secondary: #243c7f;
  --duration: 256ms;
}

@media (prefers-color-scheme: light) {
  html {
    --theme: light;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --theme: dark;
  }
}

*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
}

::-moz-selection {
  background-color: var(--font);
  color: var(--bg);
}

::selection {
  background-color: var(--font);
  color: var(--bg);
}

html {
  box-sizing: border-box;
  font-feature-settings: 'liga' 1;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--bg);
  color: var(--font);
  font-family: Rubik, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--font);
  text-decoration: none;
}

a:hover {
  color: var(--font);
  text-decoration: underline;
  text-decoration-color: var(--primary) !important;
}

a:hover {
  color: var(--font);
  text-decoration: underline;
  text-decoration-color: var(--primary) !important;
}

article a[rel='nofollow noreferrer'] {
  text-decoration: underline;
  text-decoration-color: var(--primary) !important;
}

article a[rel='nofollow noreferrer']:hover {
  color: var(--primary);
}

blockquote,
li,
p {
  margin: 0 0 0.75rem;
}

blockquote,
h1,
h2,
h3,
h4,
li,
p {
  margin-top: 0;
}

blockquote {
  border-left: 0.1875rem solid var(--primary);
  padding-left: 1.3125rem;
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.166;
  margin-bottom: 1.875rem;
  position: relative;
}

h1::before {
  background-color: var(--primary);
  bottom: -0.1875rem;
  content: '';
  height: 0.1875rem;
  left: 0;
  position: absolute;
  width: 3.75rem;
  z-index: 1;
}

h2 {
  font-size: 1.875rem;
  line-height: 1.2;
  padding-top: 1.5rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  padding-top: 0.75rem;
  margin-bottom: 0.375rem;
}

img {
  height: auto;
  object-fit: contain;
  object-position: left bottom;
}

picture {
  overflow: hidden;
}