<header class="grid ma0 pb1 pl2 pr2 pt1 relative w-100">
  <div class="content-between grid w-100 header__inner">
    <h1 class="content-flex-start flex flex-column items-flex-start mb0 mra no-underline pb1 pt1 relative home">
      <a href="<%= meta.domain %>" rel="me" class="font__inverted" id="title"><strong><%= meta.title %></strong></a>
    </h1>
    <nav class="content-between flex pb1 pt1 w-100">
      <a href="<%= meta.domain %>/posts/" class="font__inverted"><strong>Archive</strong></a>
      <span aria-hidden="true" class="sep">::</span>
      <a href="<%= meta.domain %>/about/" class="font__inverted"><strong>About</strong></a>
    </nav>
  </div>
  <label for="theme" class="absolute content-center flex items-flex-start theme__wrap">
    <input type="checkbox" name="theme" id="theme" class="z-under sr"/>
    <span class="sr">Theme Switcher</span>
    <span aria-hidden="true" class="toggle"></span>
  </label>
</header>