<header>
  <h1 class="home">
    <a href="<%= meta.domain %>" rel="me"><strong><%= meta.title %></strong></a>
    <br><span>Front-End Developer</span>
  </h1>
  <nav>
    <a href="<%= meta.domain %>/posts/"><strong>Archive</strong></a>
    <span aria-hidden="true" class="sep">::</span>
    <a href="<%= meta.domain %>/about/"><strong>About</strong></a>
  </nav>
  <label for="theme" class="theme-wrap">
    <input type="checkbox" name="theme" id="theme"/>
    <span class="sr">Theme Switcher</span>
    <span aria-hidden="true" class="toggle"></span>
  </label>
</header>