<header>
  <h1 class="home">
    <a href="<%= meta.domain %>" rel="me" class="font__inverted"><strong><%= meta.title %></strong></a>
    <span class="font__inverted">Front-End Developer</span>
  </h1>
  <nav>
    <a href="<%= meta.domain %>/posts/" class="font__inverted"><strong>Archive</strong></a>
    <span aria-hidden="true" class="meta">::</span>
    <a href="<%= meta.domain %>/about/" class="font__inverted"><strong>About</strong></a>
  </nav>
  <label for="theme" class="theme__wrap">
    <input type="checkbox" name="theme" id="theme" class="sr"/>
    <span class="sr">Theme Switcher</span>
    <span aria-hidden="true" class="toggle"></span>
  </label>
</header>