# Ignoring as following the linter rules will break some of the rules
.eslintrc.js
babel.config.js
postcss.config.js
prettier.config.js
src/_includes/components/load.js
src/scripts.js
src/sw.js
src/ww.js
dist/