.bg-base {
  background-color: var(--bg);
}

.bg-base-dark {
  background-color: var(--bg-dark);
}

.bg-primary-b::before {
  background-color: var(--primary);
}

.bg-primary-light-a::after {
  background-color: var(--primary-light);
}

.brd-primary {
  border-color: var(--primary);
}

.brd-secondary {
  border-color: var(--secondary);
}

.meta,
.meta a,
.meta a:visited {
  color: var(--meta) !important;
}

.meta a:hover {
  color: var(--font);
}

.primary {
  color: var(--primary) !important;
}
