@import './colors.scss';
@import './extends.scss';
@import './mixins.scss';

// Keyframes
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

// Styling
.background-accent {
  @extend %background-accent;
}

.background-accent-light {
  @extend %background-accent-light;
}

.border-curved {
  @extend %border-curved;
}

.border-round {
  @extend %border-round;
}

.no-underline {
  @extend %no-underline;
}

.underline {
  @extend %underline;
}

// Type
.f1 {
  @extend %f1;
}

.f2 {
  @extend %f2;
}

.f3 {
  @extend %f3;
}

.f4 {
  @extend %f4;
}

.f5 {
  @extend %f5;
}

.f6 {
  @extend %f6;
}

.f7 {
  @extend %f7;
}

.text-center {
  @extend %tc;
}

// Layout
.flex {
  @extend %flex;
}

.grid {
  @extend %grid;
}

.overflow-hidden {
  @extend %overflow-hidden;
}

.overflow-x-hidden {
  @extend %overflow-x-hidden;
}

.overflow-x-auto {
  @extend %overflow-x-auto;
}

// Flexbox
.flex-column {
  @extend %flex-column;
}

.flex-wrap {
  @extend %flex-wrap;
}

// Align
.items-center {
  @extend %items-center;
}

.items-flex-start {
  @extend %items-flex-start;
}

.items-start {
  @extend %items-start;
}

.a-self-center {
  @extend %a-self-center;
}

// Justify
.content-center {
  @extend %content-center;
}

.content-flex-start {
  @extend %content-flex-start;
}

.content-between {
  @extend %content-between;
}

.j-self-end {
  @extend %j-self-end;
}

// Position
.absolute {
  @extend %absolute;
}

.relative {
  @extend %relative;
}

.bottom-0 {
  @extend %bottom-0;
}

.left-0 {
  @extend %left-0;
}

.right-0 {
  @extend %right-0;
}

.top-0 {
  @extend %top-0;
}

.z-under {
  @extend %z-under;
}

.z1 {
  @extend %z1;
}

.z5 {
  @extend %z5;
}

.z10 {
  @extend %z10;
}

.z15 {
  @extend %z15;
}

.z20 {
  @extend %z20;
}

// Spacing
.m-horizontal {
  @extend %m-horizontal;
}

.ma0 {
  @extend %ma0;
}

.mb0 {
  @extend %mb0;
}

.mb1 {
  @extend %mb1;
}

.ml0 {
  @extend %ml0;
}

.mr0 {
  @extend %mr0;
}

.mr1 {
  @extend %mr1;
}

.mra {
  @extend %mra;
}

.mt0 {
  @extend %mt0;
}

.pa1 {
  @extend %pa1;
}

.pa2 {
  @extend %pa2;
}

.pb1 {
  @extend %pb1;
}

.pb2 {
  @extend %pb2;
}

.pl2 {
  @extend %pl2;
}

.pr2 {
  @extend %pr2;
}

.pt1 {
  @extend %pt1;
}

.pt2 {
  @extend %pt2;
}

// Sizing
.w-100 {
  @extend %w-100;
}

// Animation
.transition-all {
  @extend %transition-all;
}

// Main
.article {
  a:not([class]) {
    @extend %underline;

    text-decoration-color: var(--primary) !important;

    &:hover {
      color: var(--primary);
    }
  }
}

.header,
.footer {
  background-color: var(--bg-dark);
  border-style: solid;
  border-color: var(--primary);
}

.header {
  border-width: 0 0 1rem 0;
  grid-column: 1/4;
  grid-row: 1/2;
  grid-template-columns: auto minmax(11.5rem, 73rem) 2rem auto;

  &:before {
    @extend %absolute;
    @extend %content;
    @extend %left-0;
    @extend %right-0;
    @extend %top-0;
    @extend %w-100;
    @extend %z-under;

    background-color: var(--primary-light);
    bottom: -2rem;
    min-height: 1rem;
  }

  .header-inner {
    grid-column: 2/3;
    grid-template-columns: repeat(auto-fit, 12rem);
  }

  .font-inverted {
    @extend %normal;

    &,
    &:hover,
    &:visited {
      @extend %f4;
    }
  }

  .sep {
    color: $meta-light;
  }
}

.footer {
  border-width: 1rem 0 0;
  grid-column: 1/4;
  grid-gap: 1em;
  grid-row: 3/4;
  grid-template-columns: 6.5em minmax(10.5em, 32em);
  grid-template-rows: min-content 2.5em;

  &:before {
    @extend %absolute;
    @extend %background-accent-light;
    @extend %bottom-0;
    @extend %content;
    @extend %left-0;
    @extend %right-0;
    @extend %w-100;
    @extend %z-under;

    top: -2rem;
    min-height: 1rem;
  }

  dl {
    max-width: 8rem;
  }

  dd {
    height: 2.5em;
    width: 2.5em;
  }
}

.footer dl,
.hire {
  grid-column: 2/3;
  grid-row: 2/3;
}

.main {
  grid-column: 2/3;
  grid-row: 2/3;
  min-height: calc(100vh - 22rem);
}

// Custom
.article-title,
.title {
  @extend %f2;

  margin-top: 0.75rem;
}

.avatar {
  &,
  img {
    @extend %border-round;

    height: 6.5em;
    width: 6.5em;
  }
}

.error {
  @extend %tc;

  margin: 2rem auto;
  max-width: 21rem;
}

.font-inverted {
  &,
  &:hover,
  &:visited {
    color: hsl(64, 32%, 96%);
  }
}

.foot-copy {
  max-width: 32rem;
}

.foot-head {
  @extend %f4;
}

.foot-body {
  max-width: 32rem;
}

.home {
  grid-column: 1/2;
  width: 7.5rem;
}

.icon {
  height: 2.5em;
  width: 2.5em;

  .icon-svg {
    @include transition(fill);

    fill: $white;
  }

  &:hover {
    .icon-svg {
      fill: var(--primary-light);
    }
  }
}

.list-article-title {
  @extend %f3;
}

.marked {
  &:before {
    @extend %absolute;
    @extend %background-accent;
    @extend %bottom-0;
    @extend %content;
    @extend %left-0;
    @extend %z1;

    height: 0.15rem;
    width: 3rem;
  }
}

.meta {
  &,
  &:visited {
    color: var(--meta);
  }
}

.meta-link:hover {
  color: var(--font);
}

.meta-wrap {
  margin-bottom: 0.75rem;
}

.nav {
  max-height: 3.5rem;
  max-width: 10.5rem;
}

.noise,
.toggle::after,
.toggle::before {
  animation: fade-in 2s;
}

.noise {
  background-size: calc(0.125em * var(--base));
  opacity: 0.012;
  pointer-events: none;
}

.permalink {
  margin: 1rem 0;
}

.sr {
  @extend %absolute;
  @extend %overflow-hidden;

  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  height: 0.1rem;
  width: 0.1rem;
}

.theme-wrap {
  @extend %right-0;

  grid-column: 3/4;
  height: 1.05rem;
  margin: 0.35rem 0.25rem 0.25rem;
  top: 2rem;
  width: 1.05rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.toggle {
  cursor: pointer;

  &:after {
    @extend %absolute;
    @extend %content;
    @extend %ma0;
    @extend %transition-all;

    border-radius: 1rem;
    display: inherit;
    height: 1.05rem;
    vertical-align: middle;
    width: 1rem;
  }

  &:before {
    @extend %absolute;
    @extend %background-accent-light;
    @extend %bottom-0;
    @extend %content;
    @extend %top-0;
    @extend %transition-all;
    @extend %z5;

    background: transparent;
    box-shadow: 0.3125rem 0.3125rem 0 0 var(--primary-light);
    border-radius: 100%;
    height: 1rem;
    right: 1rem;
    transform: rotate(-45deg);
    width: 1rem;
  }
}

.theme {
  &:checked ~ .toggle {
    &::before {
      background: var(--primary-light);
      box-shadow: unset;
      right: 0.5rem;
    }
  }
}
