// Styling
.background-accent {
  @extend %background-accent;
}

.background-accent--light {
  @extend %background-accent--light;
}

.border--curved {
  border-radius: 0.125rem;
}

.border--round {
  border-radius: 50%;
}

.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

// Type
.f7 {
  font-size: .875rem !important;
}

.text-center {
  text-align: center;
}

// Layout
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

// Flexbox
.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

// Align
.items-center {
  align-items: center;
}

.items-flex-start {
  align-items: flex-start;
}

.items-start {
  align-items: start;
}

.a-self-center {
  align-self: center;
}

// Justify
.content-center {
  justify-content: center;
}

.content-flex-start {
  justify-content: flex-start;
}

.content-between {
  justify-content: space-between;
}

.j-self-end {
  justify-self: end;
}

// Position
.absolute {
  @extend %absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  @extend %bottom-0;
}

.left-0 {
  @extend %left-0;
}

.right-0 {
  @extend %right-0;
}

.top-0 {
  @extend %top-0;
}

.z-under {
  @extend %z-under;
}

.z1 {
  z-index: 1;
}

.z5 {
  @extend %z5;
}

.z20 {
  z-index: 20;
}

// Spacing
.m--horizontal {
  margin: 0 auto;
}

.ma0 {
  @extend %ma0;
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 1rem;
}

.ml0 {
  margin-left: 0;
}

.mr0 {
  margin-right: 0;
}

.mr1 {
  margin-right: 1em;
}

.mra {
  margin-right: auto;
}

.mt0 {
  margin-top: 0;
}

.pa1 {
  padding: 1em;
}

.pa2 {
  padding: 2em;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pl2 {
  padding-left: 2em;
}

.pr2 {
  padding-right: 2em;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

// Sizing
.w-100 {
  @extend %w-100;
}

// Animation
.transition--all {
  @extend %transition--all;
}
