@import 'props';
@import 'mixins';
@import 'theme';

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background-color: var(--font);
  color: var(--bg);
}

html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: var(--bg);
  color: var(--font);
  display: grid;
  font-family: "Rubik", sans-serif;
  font-size: 100%;
  grid-template-columns: minmax(2em,1fr) minmax(1rem,56rem) minmax(2em,1fr);
  grid-template-rows: repeat(3, auto);
  line-height: 1.4;
  margin: 0;
  overflow-x: hidden;
  position: relative;

  &.dyslexic {
    font-family: "Dyslexic", sans-serif;
    font-size: 0.85em;
  }

  @include media-query-max(416px) {
    font-size: 92%;
  }
}

a {
  color: var(--font);
  text-decoration: none;

  &:hover {
    color: var(--font);
    text-decoration: underline;
    text-decoration-color: var(--primary) !important;
  }

  &:visited {
    color: inherit;
  }
}

blockquote,
li,
p {
  margin: 0 0 0.75rem;
}

blockquote {
  border-left: 0.125em solid var(--primary);
  padding-left: 0.75em;
}

footer {
  border-width: 1rem 0 0;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.3;
  text-transform: capitalize;
}

h2,
h3,
h4 {
  margin: 0.75rem 0 1rem;
}

h1 {
  font-size: 3em;
  margin: 0 0 1rem;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h1, h2 {
  &.list__title {
    font-size: 1.75em;
  }

  &.title {
    font-size: 2.5em;
    margin-top: 0.75rem;
  }
}

header,
footer {
  background-color: var(--bg-dark);
  border-style: solid;
  border-color: var(--primary);
}

header {
  border-width: 0 0 1rem 0;
  grid-column: 1/4;
  grid-row: 1/2;
  grid-template-columns: auto minmax(11.5rem,73rem) 2rem auto;

  &:before {
    @extend %absolute;

    background-color: var(--primary-light);
    bottom: -2rem;
    content: '';
    left: 0;
    min-height: 1rem;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .header__inner {
    grid-column: 2/3;
    grid-template-columns: repeat(auto-fit,12rem);
  }

  .font__inverted {
    font-weight: normal;

    &,
    &:hover,
    &:visited {
      font-size: 1.15rem;
    }
  }

  .sep {
    color: $meta-light;
  }
}

nav {
  max-height: 3.5rem;
  max-width: 10.5rem;
}

.font__inverted {
  &,
  &:hover,
  &:visited {
    color: hsl(64, 32%, 96%);
  }
}

.home {
  grid-column: 1/2;
  width: 7.5rem;
}

.sr {
  @extend %absolute;

  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  height: 0.1rem;
  overflow: hidden;
  width: 0.1rem;
}

@import 'extends';
