@import 'extends';
@import 'components';
@import 'mixins';
@import 'theme';

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

a {
  color: var(--font);
  text-decoration: none;

  &:hover {
    color: var(--font);
    text-decoration: underline;
    text-decoration-color: var(--primary) !important;
  }

  &:visited {
    color: inherit;
  }
}

blockquote,
li,
p {
  margin: 0 0 0.75rem;
}

blockquote {
  border-left: 0.125em solid var(--primary);
  padding-left: 0.75em;
}

footer {
  border-width: 1rem 0 0;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.3;
  text-transform: capitalize;
}

h2,
h3,
h4 {
  margin: 0.75rem 0 1rem;
}

h1 {
  font-size: 3em;
  margin: 0 0 1rem;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h1, h2 {
  &.list__title {
    font-size: 1.75em;
  }

  &.title {
    font-size: 2.5em;
    margin-top: 0.75rem;
  }
}

header,
footer {
  background-color: var(--bg-dark);
  border-style: solid;
  border-color: var(--primary);
}

header {
  border-width: 0 0 1rem 0;
  grid-column: 1/4;
  grid-row: 1/2;
  grid-template-columns: auto minmax(11.5rem,73rem) 2rem auto;

  &:before {
    @extend %absolute;

    background-color: var(--primary-light);
    bottom: -2rem;
    content: '';
    left: 0;
    min-height: 1rem;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .header__inner {
    grid-column: 2/3;
    grid-template-columns: repeat(auto-fit,12rem);
  }

  .font__inverted {
    font-weight: normal;

    &,
    &:hover,
    &:visited {
      font-size: 1.15rem;
    }
  }

  .sep {
    color: $meta-light;
  }
}

nav {
  max-height: 3.5rem;
  max-width: 10.5rem;
}

.font__inverted {
  &,
  &:hover,
  &:visited {
    color: hsl(64, 32%, 96%);
  }
}

.home {
  grid-column: 1/2;
  width: 7.5rem;
}

.sr {
  @extend %absolute;

  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  height: 0.1rem;
  overflow: hidden;
  width: 0.1rem;
}

article {
  a:not([class]) {
    text-decoration: underline;
    text-decoration-color: var(--primary) !important;

    &:hover {
      color: var(--primary);
    }
  }
}

footer {
  grid-column: 1/4;
  grid-gap: 1em;
  grid-row: 3/4;
  grid-template-columns: 6.5em minmax(10.5em,32em);
  grid-template-rows: min-content 2.5em;

  &:before {
    @extend %absolute;
    @extend %background-accent--light;
    @extend %bottom-0;
    @extend %content;
    @extend %left-0;
    @extend %right-0;
    @extend %w-100;
    @extend %z-under;

    top: -2rem;
    min-height: 1rem;
  }

  dl {
    max-width: 8rem;
  }

  dd {
    height: 2.5em;
    width: 2.5em;
  }
}

footer dl,
.hire {
  grid-column: 2/3;
  grid-row: 2/3;
}

img {
  height: auto;
  object-fit: contain;
  object-position: left bottom;
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
  min-height: calc(100vh - 22rem);
}

picture {
  overflow: hidden;
}

.avatar {
  &, img {
    border-radius: 50%;
    height: 6.5em;
    width: 6.5em;
  }
}

.error {
  margin: 2rem auto;
  max-width: 21rem;
  text-align: center;
}

.foot__copy {
  max-width: 32rem;
}

.foot__head {
  font-size: 1.15rem;
}

.foot__body {
  max-width: 32rem;
}

.icon {
  height: 2.5em;
  width: 2.5em;

  .icon__svg {
    @include transition(fill);

    fill: $white;
  }

  &:hover {
    .icon__svg {
      fill: var(--primary-light);
    }
  }
}

.marked {
  &:before {
    @extend %absolute;
    @extend %background-accent;
    @extend %bottom-0;
    @extend %content;
    @extend %left-0;

    height: 0.15rem;
    width: 3rem;
    z-index: 1;
  }
}

.meta {
  &, &:visited {
    color: var(--meta);
  }

  &:hover {
    color: var(--font);
  }
}

.meta__wrap {
  margin-bottom: 0.75rem;
}

.noise,
.toggle::after,
.toggle::before {
  animation: fade-in 2s;
}

.noise {
  background-size: calc(0.125em * var(--base));
  opacity: 0.012;
  pointer-events: none;
}

.permalink {
  margin: 1rem 0;
}

.theme__wrap {
  grid-column: 3/4;
  height: 1.5rem;
  margin: 0.25rem;
  right: 0;
  top: 2rem;
  width: 1.3125rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.toggle {
  cursor: pointer;

  &:after {
    @extend %absolute;
    @extend %content;
    @extend %ma0;
    @extend %transition--all;

    border-radius: 1rem;
    display: inherit;
    height: 1.5rem;
    vertical-align: middle;
    width: 1.3125rem;
  }

  &:before {
    @extend %absolute;
    @extend %background-accent--light;
    @extend %bottom-0;
    @extend %content;
    @extend %right-0;
    @extend %top-0;
    @extend %transition--all;
    @extend %z5;

    background: transparent;
    box-shadow: 0.3125rem 0.3125rem 0 0 var(--primary-light);
    border-radius: 100%;
    height: 1rem;
    transform: rotate(-45deg);
    width: 1rem;
  }
}

#theme {
 &:checked ~ .toggle::before {
    background: var(--primary-light);
    box-shadow: unset;
    right: 0.5rem;
  }
}
