@import 'theme';

html[data-theme="light"] {
  --bg: #{$white};
  --bg-dark: #{$dracula};
  --font: #{$dracula-dark};
  --meta: #{$meta};
}
html[data-theme="dark"] {
  --bg: #{$dracula};
  --bg-dark: #{$dracula-dark};
  --font: #{$white};
  --meta: #{$meta-light};
}
html {
  --primary: #{$primary};
  --primary-light: #{$primary-light};
  --secondary: #{$secondary};
  --secondary-light: #{$secondary-light};
  --base: 64;
  --duration: 256ms;
}
@media (prefers-color-scheme: light) {
  html {
    --theme: light;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    --theme: dark;
  }
}