{{ define "main" }}
  <article>
    <h2 class="marked">{{ .Title }}</h2>
    {{ if eq .Type "blog" }}
      {{ partial "meta.html" . }}
    {{ end }}
    {{ $code := .Content | replaceRE "(\\<div class=\\D\\w+\\D\\>)(\\<pre class=\\D\\w+\\D\\>\\<code class=\\D\\w+\\D\\w+\\D data-lang=\\D)(\\w+)(\\D\\>)" "$1<span class='absolute b f7 mono lang'>$3</span><button class='absolute mono clip' aria-label='Copy to clipboard'>&#10064;</button>$2$3$4" | safeHTML }}
    {{ $ul := $code | replaceRE "\\<ol\\>" "<ol start='0'>" | safeHTML }}
    {{ $content := $ul | replaceRE "noreferrer" "noopener noreferrer" | safeHTML }}
    <section class="content">{{ $content }}</section>
  </article>
{{ end }}