.post__entry {
  @extend %content-center;
  @extend %flex;
  @extend %flex-column;
  @extend %full-width;
  @extend %items-flex-start;

  .meta {
    color: $prompt;
  }
  .post__title--link,
  .tag__link {
    &:hover {
      color: $link;
    }
  }

  .post__summary {
    margin: 0 0 15px;
  }

  .post__meta {
    @extend %content-space-between;
    @extend %flex;
    @extend %flex-wrap;
    @extend %full-width;
    @extend %items-center;
  }
}