/*  Accessibility */
:focus:not(:focus-visible) {
  outline: none;
}

.sr {
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  height: 0.1rem;
  overflow: hidden;
  position: absolute !important;
  width: 0.1rem;
}

/* Color */
.meta,
.meta:visited {
  color: var(--meta);
}

/*  Box */
.ma0 {
  margin: 0;
}

.mra {
  margin-right: auto;
}

.mb1 {
  margin-bottom: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pt1 {
  padding-top: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pt2 {
  padding-top: 2rem;
}

/*  Display */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.inline {
  display: inline;
}

/*  Position */
.relative {
  position: relative;
}

/*  Flexbox */
.flex-column {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/*  Size */
.w1 {
  width: 1rem;
}

.w-100 {
  width: 100%;
}

.mw6 {
  max-width: 32rem;
}

/*  Type */
.f7 {
  font-size: .875rem !important;
}

.none {
  text-decoration: none !important;
}

/*  Borders */
.brsh {
  border-radius: var(--border-radius);
}

/*  Custom */
.button {
  padding: 0.5rem 1rem;
  transition: all var(--duration) ease;
}

.button:hover {
  box-shadow: none;
  transform: translate(0.1rem, 0.1rem);
}

.fill,
.fill:visited {
  color: var(--font);
}

.fill::before,
.marked::before,
.under::before {
  background-color: var(--accent);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
}

.fill::before,
.under::before {
  right: 0;
}

.fill::before,
.under::before {
  transition: all var(--duration) ease;
}

.fill::before {
  top: 0;
  transform-origin: bottom center;
  transform: scaleY(0);
  z-index: -1;
}

.fill:hover {
  color: var(--background);
}

.fill:hover::before {
  background-color: var(--accent);
  transform: scaleY(1);
}

.marked::before,
.under::before {
  height: 0.15rem;
  z-index: 1;
}

.marked::before {
  width: 3rem;
}

.under::before {
  opacity: 0;
  transform: translateY(calc(var(--border-width) * 2));
}

.under:hover::before {
  opacity: 1;
  transform: translateY(var(--border-width));
}
