*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background-color: var(--font);
  color: var(--background);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  transition: font-size 200ms ease;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 48rem) {
  html {
    font-size: 95%;
  }
}

body {
  background-color: var(--background);
  border-bottom: calc(var(--border-width) * 2) solid var(--accent);
  color: var(--font);
  font-family: var(--sans);
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden;
}

body.dyslexic {
  font-family: var(--dys);
  font-size: 0.85em;
}
