@import 'variables';
@import 'extends';
@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'header';

body {
  font-family: 'Rubik', sans-serif;
}

.content__container {
  @extend %grid;
  @extend %items-center;

  grid-gap: 10px;
  grid-template-columns: minmax(10px, 1fr) minmax(300px, 1200px) minmax(10px, 1fr);
  grid-template-rows: min-content;
  padding: 20px 0;
}

main {
  background-image: $hero-pattern;
  background-attachment: fixed;
}

.list,
.single {
  min-height: calc(100vh - 223px);
  
  @include media-query-max(600px) {
    min-height: calc(100vh - 250px);
  }
}

.single {
  background-color: $white;
}

.list {
  background-color: rgba(lighten($bg, 45%), 0.5);
}

.main__title,
.single__title {
  text-align: center;

  @include media-query-max(450px) {
    font-size: 8vw;
  }
}

.main__section {
  @extend %grid;
  @extend %full-width;
  @extend %items-center;
  @extend %relative;

  &.main__section--intro {
    @include transition(flex-direction);

    background-color: rgba(darken($link, 45%), 0.5);
    border-bottom: 4px solid darken($link, 55%);
    grid-gap: 10px;
    grid-template-columns: 340px minmax(340px, 2fr) minmax(10px, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    padding-top: 20px;
  }

  .main__hero {
    @extend %just-self-center;

    @include transition(margin);

    margin: 10px;
    max-width: 570px;
    min-width: 330px;

    @include media-query-max(710px) {
      grid-row: 1/2;
    }
  }

  .main__title {
    margin: 0 0 10px;
  }

  .title__link {
    color: $link;

    &:hover {
      text-decoration: underline;
    }
  }

  .main__copy {
    @extend %full-width;

    color: $white;
    font-size: 1.25rem;
    line-height: 1.65rem;
    margin: 10px 0 0;
    max-width: 550px;

    @include media-query-min(1300px) {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
  }

  .main__img {
    @extend %content-center;
    @extend %flex;
    @extend %full-width;
    @extend %items-center;
  }

  .main__img--hero {
    @extend %align-self-end;
    @extend %just-self-end;

    margin: 0 auto 0 0;
    max-height: 467px;
    max-width: 340px;

    @include media-query-max(710px) {
      grid-row: 2/3;
    }

    @include media-query-max(360px) {
      margin: 0 20px 0 0;
    }
  }
}

.single__title,
.list__title {
  @extend %just-self-center;

  grid-column: 2/3;
  margin: 0 0 5px;
}

.post {
  .post__meta {
    @include border(bottom);

    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}
