@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src:
    local(Rubik-Regular),
    local(Rubik-Regular),
    url('/fonts/Rubik-Regular.woff2') format('woff2'),
    url('/fonts/Rubik-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src:
    local(Rubik-Italic),
    local(Rubik-Italic),
    url('/fonts/Rubik-Italic.woff2') format('woff2'),
    url('/fonts/Rubik-Italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src:
    local(Rubik-Bold),
    local(Rubik-Bold),
    url('/fonts/Rubik-Bold.woff2') format('woff2'),
    url('/fonts/Rubik-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Dyslexic';
  font-style: normal;
  font-weight: 400;
  src:
    local(OpenDyslexic-Regular),
    local(OpenDyslexic-Regular),
    url('/fonts/OpenDyslexic-Regular.woff2') format('woff2'),
    url('/fonts/OpenDyslexic-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Dyslexic';
  font-style: normal;
  font-weight: 700;
  src:
    local(OpenDyslexic-Bold),
    local(OpenDyslexic-Bold),
    url('/fonts/OpenDyslexic-Bold.woff2') format('woff2'),
    url('/fonts/OpenDyslexic-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src:
    local(FiraCode-Regular),
    local(FiraCode-Regular),
    url('/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('/fonts/FiraCode-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: light;
  font-weight: 300;
  src:
    local(FiraCode-Light),
    local(FiraCode-Light),
    url('/fonts/FiraCode-Light.woff2') format('woff2'),
    url('/fonts/FiraCode-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src:
    local(FiraCode-Bold),
    local(FiraCode-Bold),
    url('/fonts/FiraCode-Bold.woff2') format('woff2'),
    url('/fonts/FiraCode-Bold.woff') format('woff');
}

:root {
  /* Primary Colors */
  --accent: hsl(265, 91%, 63%);
  --accent-75: hsla(265, 91%, 63%, 0.75);
  --accent-50: hsla(265, 91%, 63%, 0.50);
  --background: hsl(60, 30%, 96%);
  --font: hsl(231, 15%, 18%);
  --meta: hsl(0, 0%, 43%);
  /* Styling */
  --box: 0.1rem 0.1rem 0 var(--font), 0.125rem 0.125rem 0 var(--font);
  --border-radius: 57% 43% 57% 43%/48% 36% 64% 52%;
  /* Animation */
  --duration: 200ms;
  /* Type */
  --dys: 'Dyslexic', sans-serif;
  --mono: 'Fira Code', monospace;
  --sans: 'Rubik', sans-serif;
}

html.dark {
  /* Primary Dark Colors */
  --accent: hsl(191, 97%, 77%);
  --accent-75: hsla(191, 97%, 77%, 0.75);
  --accent-50: hsla(191, 97%, 77%, 0.50);
  --background: hsl(231, 15%, 18%);
  --font: hsl(60, 30%, 96%);
  --meta: hsl(0, 0%, 54%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background-color: var(--font);
  color: var(--background);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  transition: font-size 200ms ease;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 48rem) {
  html {
    font-size: 95%;
  }
}

body {
  background-color: var(--background);
  color: var(--font);
  font-family: var(--sans);
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden;
}

body.dyslexic {
  font-family: var(--dys);
  font-size: 0.85em;
}
