%absolute {
  position: absolute;
}

%align-self-center {
  align-self: center;
}

%align-self-end {
  align-self: end;
}

%align-self-start {
  align-self: start;
}

%block {
  display: block;
}

%content-center {
  justify-content: center;
}

%content-flex-end {
  justify-content: flex-end;
}

%content-flex-start {
  justify-content: flex-start;
}

%content-space-around {
  justify-content: space-around;
}

%content-space-between {
  justify-content: space-between;
}

%fixed {
  position: fixed;
}

%flex {
  display: flex;
}

%flex-column {
  flex-direction: column;
}

%flex-wrap {
  flex-wrap: wrap;
}

%full-width {
  width: 100%;
}

%grid {
  display: grid;
}

%items-center {
  align-items: center;
}

%items-end {
  align-items: end;
}

%items-flex-end {
  align-items: flex-end;
}

%items-flex-start {
  align-items: flex-start;
}

%items-start {
  align-items: start;
}

%just-self-center {
  justify-self: center;
}

%just-self-end {
  justify-self: end;
}

%just-self-start {
  justify-self: start;
}

%margin-horizontal-center {
  margin: 0 auto;
}

%margin-vertical-center {
  margin: auto 0;
}

%no-decoration {
  text-decoration: none;
}

%none {
  display: none;
}

%relative {
  position: relative;
}
