@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src:
    local(Rubik),
    local(Rubik),
    url('/fonts/Rubik.woff2') format('woff2'),
    url('/fonts/Rubik.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src:
    local(Rubik-Italic),
    local(Rubik-Italic),
    url('/fonts/Rubik-Italic.woff2') format('woff2'),
    url('/fonts/Rubik-Italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src:
    local(Rubik-Bold),
    local(Rubik-Bold),
    url('/fonts/Rubik-Bold.woff2') format('woff2'),
    url('/fonts/Rubik-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Dyslexic';
  font-style: normal;
  font-weight: 400;
  src:
    local(OpenDyslexic),
    local(OpenDyslexic),
    url('/fonts/OpenDyslexic.woff2') format('woff2'),
    url('/fonts/OpenDyslexic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Dyslexic';
  font-style: normal;
  font-weight: 700;
  src:
    local(OpenDyslexic-Bold),
    local(OpenDyslexic-Bold),
    url('/fonts/OpenDyslexic-Bold.woff2') format('woff2'),
    url('/fonts/OpenDyslexic-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src:
    local(FiraCode-Regular),
    local(FiraCode-Regular),
    url('/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('/fonts/FiraCode-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: light;
  font-weight: 300;
  src:
    local(FiraCode-Light),
    local(FiraCode-Light),
    url('/fonts/FiraCode-Light.woff2') format('woff2'),
    url('/fonts/FiraCode-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src:
    local(FiraCode-Bold),
    local(FiraCode-Bold),
    url('/fonts/FiraCode-Bold.woff2') format('woff2'),
    url('/fonts/FiraCode-Bold.woff') format('woff');
}
