.footer {
  @extend %grid;
  @extend %flex-column;
  @extend %full-width;
  @extend %items-center;

  background-color: rgba($font, 0.95);
  background-image: $hero-pattern;
  color: $bg;
  grid-template-columns: minmax(15px, 1fr) minmax(345px, 410px) minmax(15px, 1fr);
  padding: 30px 0;

  .footer__title,
  .contact__form,
  .social__nav,
  .footer__copyright {
    grid-column: 2/3;
    justify-self: center;
  }

  .contact__form {
    @extend %content-center;
    @extend %flex;
    @extend %flex-column;
    @extend %full-width;
    @extend %items-center;

    max-width: 400px;
    min-height: 345px;
  }

  .contact__form,
  .footer__copyright {
    padding: 15px;
  }

  .honey__hidden {
    @extend %none;
  }

  .contact__response {
    font-size: 1.25rem;
    line-height: 1.45rem;
    text-align: center;
  }

  .contact__response,
  .contact__input,
  .contact__button {
    &.active {
      @extend %block;
    }

    &.hidden {
      @extend %none;
    }
  }

  .contact__input,
  .contact__button {
    @extend %full-width;

    background-color: $font;
    border: 2px solid $meta;
    color: $bg;
    margin: 0;
    padding: 10px;
  }

  .contact__input {
    @include transition(border-color);

    font-family: 'Rubik', sans-serif;
    font-size: 1.15rem;
    outline: none;
    transform-origin: top;
    transform: scale(0.75);
    height: 60px;
    width: 133%;

    &:invalid {
      border-color: $meta;
    }

    &:hover,
    &:valid {
      border-color: $bg;
    }

    &::placeholder {
      color: $bg;
      font-family: 'Fira Code', monospace;
      font-weight: 700;
    }

    &:valid {
      border-color: $link;
    }
  }

  .contact__input--message {
    height: 140px;
    resize: none;
  }

  .contact__button {
    @include transition(all);

    background-color: $meta;
    font-size: 1.5rem;
    height: 45px;
    margin-top: -10px;
    padding: 5px 10px;

    &.active {
      background-color: $link;
      border-color: $link;
      color: $font;
      cursor: pointer;
    }
  }

  .social__nav {
    @extend %content-center;
    @extend %flex;
    @extend %items-center;
  }

  .social__link {
    @extend %content-center;
    @extend %flex;
    @extend %items-center;

    border-radius: 50%;
    height: 35px;
    margin: 15px;
    width: 35px;
  }

  .social__icon {
    @include transition(fill);

    fill: $bg;
    height: 35px;
    width: auto;

    &:hover {
      fill: $link;
    }
  }

  .footer__copyright {
    @extend %grid;
    @extend %items-center;

    grid-column-gap: 5px;
    grid-template-columns: minmax(54px,60px) 18px minmax(122px,135px) 18px minmax(116px,130px);
    font-size: 1rem;
    line-height: 1.15rem;

    @include media-query-max(405px) {
      grid-row-gap: 15px;
      grid-template-columns: 54px 18px 122px;
      grid-template-rows: repeat(2, 17px);
    }
  }

  .copy__separator,
  .copy__content {
    justify-self: center;
  }

  .copy__date {
    @extend %flex;
    @extend %items-center;

    grid-column: 1/2;
  }

  .copy__icon {
    height: 15px;
    transform: rotateY(180deg);
  }

  .copy__separator:nth-child(4) {
    @include media-query-max(405px) {
      display: none;
    }
  }

  .copy__title {
    grid-column: 3/4;
  }

  .copy__ssg {
    grid-column: 5/6;

    @include media-query-max(405px) {
      grid-column: 1/4;
      grid-row: 2/3;
      justify-self: center;
    }
  }

  .copy__code {
    letter-spacing: 1px;
  }

  .copy__hugo {
    color: $link;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
