.header {
  @extend %grid;
  @extend %relative;

  background-color: $meta;
  background-image: linear-gradient(to bottom, rgba($meta, 0.05), rgba($screen, 0.15) 0.5em, rgba($meta, 0.05) 2em, rgba($meta, 0.05) 2em, rgba($meta, 0)), linear-gradient(to bottom, $meta, $meta 50%, $font 50%, $font);
  background-size: 100% 100%, 100% 2px;
  box-shadow: inset 0 0 4em rgba(33, 35, 46, 0.5), 0 0.45em rgba($font, 0.75);
  font-size: 1.1rem;
  font-weight: 600;
  grid-template-columns: minmax(15px, 1fr) minmax(210px, 2fr) minmax(270px, 2fr) minmax(15px, 1fr);
  grid-template-rows: min-content;
  height: 50px;
  line-height: 1.25rem;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 15px 0;
  z-index: 10;

  @include media-query-max(500px) {
    grid-row-gap: 10px;
    grid-template-columns: 15px minmax(210px, 1fr) 15px;
    grid-template-rows: repeat(2, 18px);
    height: 76px;
  }

  &::after {
    @extend %absolute;
    @extend %block;

    @keyframes scanline {
      from {
        background-position: 0 -3.3em;
      }
      to {
        transform: translatey(100%);
      }
    }

    animation: scanline 10s linear infinite;
    background-image: linear-gradient(
      to bottom,
      rgba($link, 0) 0,
      rgba($link, 0) 1em,
      rgba($link, 0.05) 3em,
      rgba($link, 0.15) 3.1em,
      rgba($link, 0.01) 3.11em,
      rgba($link, 0.05) 3.2em,
      rgba($link, 0) 3.3em,
      rgba($link, 0) 10em
    );
    background-size: cover;
    border-radius: 15px;
    bottom: 0;
    content: "";
    cursor: text;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .header__nav {
    @extend %content-space-around;
    @extend %flex;
    @extend %full-width;
    @extend %items-center;

    grid-column: 3/4;
    margin-left: auto;
    max-width: 270px;

    @include media-query-max(500px) {
      grid-column: 2/3;
      grid-row: 2/3;
      margin: 0 auto 0 0;
    }

    .nav__prompt {
      margin-right: 10px;

      @include media-query-min(500px) {
        display: none;
      }
    }
  }

  .header__link-wrapper,
  .header__link {
    z-index: 5;

    @include media-query-min(1300px) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }

  .header__link {
    @include transition(all);

    color: $bg;
    cursor: pointer;
    margin: 0 5px;

    &:hover {
      color: $link;
      text-decoration: underline;
    }
  }

  .header__link-wrapper {
    grid-column: 2/3;
    margin: 0 50px 0 0;
    margin: 0;
    min-width: 210px;
    padding-right: 50px;
    width: 210px;

    @include media-query-min(1300px) {
      width: 230px;
    }

    @include media-query-max(500px) {
      grid-row: 1/2;
    }
  }

  .header__link--home {
    min-width: 103px;
    width: 103px;
  }

  .header__prompt,
  .header__separator {
    color: $prompt;
  }
}
