.header {
  @extend %grid;
  @extend %relative;

  background-color: $meta;
  background-image: linear-gradient(to bottom, rgba($meta, 0.05), rgba($screen, 0.15) 0.5em, rgba($meta, 0.05) 2em, rgba($meta, 0.05) 2em, rgba($meta, 0)), linear-gradient(to bottom, $meta, $meta 50%, $font 50%, $font);
  background-size: 100% 100%, 100% 2px;
  box-shadow: inset 0 0 4em rgba(33, 35, 46, 0.5), 0 0.45em rgba($font, 0.75);
  font-size: 1.1rem;
  font-weight: 600;
  grid-gap: 10px;
  grid-template-areas: 'prompt heading navigation';
  grid-template-columns: 10px repeat(2, 1fr);
  max-height: 76px;
  min-height: 54px;
  line-height: 1.25rem;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 15px;
  z-index: 10;

  @include media-query-max(600px) {
    grid-template-columns: 10px 1fr;
    grid-template-areas: 
      'prompt heading'
      'prompt navigation';
  }

  &::after {
    @extend %absolute;
    @extend %block;

    @keyframes scanline {
      from {
        background-position: 0 -3.3em;
      }
      to {
        transform: translatey(100%);
      }
    }

    animation: scanline 10s linear infinite;
    background-image: linear-gradient(
      to bottom,
      rgba($link, 0) 0,
      rgba($link, 0) 1em,
      rgba($link, 0.05) 3em,
      rgba($link, 0.15) 3.1em,
      rgba($link, 0.01) 3.11em,
      rgba($link, 0.05) 3.2em,
      rgba($link, 0) 3.3em,
      rgba($link, 0) 10em
    );
    background-size: cover;
    bottom: 0;
    content: "";
    cursor: text;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .header__nav {
    @extend %full-width;
    @extend %grid;
    @extend %items-center;

    grid-area: navigation;
    grid-column-gap: 5px;
    grid-template-areas: 'writing separator1 work separator2 contact';
    justify-content: end;

    &.writing {
      grid-template-areas: 'writing separator1 work separator2 contact separator3 rss';
    }

    @include media-query-max(600px) {
      justify-content: start;
    }
  }

  .nav__prompt {
    grid-area: prompt;
    margin-right: 5xp;
    width: 10px;

    @include media-query-min(600px) {
      display: none;
    }
  }

  .header__link-wrapper,
  .header__link {
    z-index: 5;

    @include media-query-min(1300px) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }

  .header__link {
    @include transition(all);

    color: $bg;
    cursor: pointer;
    justify-self: center;

    &:hover {
      color: $link;
      text-decoration: underline;
    }
  }

  .header__link-wrapper {
    grid-area: heading;
  }

  .header__link--home {
    grid-column: 2/3;
    justify-self: start;
  }

  .header__separator {
    width: 18px;
  }

  .header__prompt,
  .header__separator {
    color: $prompt;
  }
}
