/* Styling */
dd {
  height: 40px;
}

dl {
  max-width: 8rem;
}

header,
header a,
header a:visited,
nav a:hover,
.banner {
  color: hsl(60, 30%, 96%);
}

header,
header::before {
  left: 0;
}

header::before,
.clip,
.cnt-lnk::before,
.lang,
.noise,
.theme-wrap,
.toggle::before,
#theme {
  position: absolute;
}

header::before,
.cnt-lnk::before,
.toggle::before,
.toggle::after {
  content: '';
}

header::before,
.cnt-lnk::before,
#theme {
  z-index: -1;
}

header a,
header h1 {
  font-size: 1.15rem;
}

header h1 span {
  font-weight: normal;
}

header {
  background-color: var(--header);
  border-color: var(--accent);
  border-style: solid;
  border-width: 0 0 1rem;
  margin: 0 auto 0 0;
  padding: 1rem 2rem;
}

header::before {
  background-color: var(--accent-light);
  bottom: -2rem;
  min-height: 1rem;
  right: 0;
  top: 0;
  width: 100%;
}

.banner,
.chroma {
  border: 0.125em solid hsl(232, 14%, 31%);
}

.banner {
  background-color: hsl(231, 15%, 18%);
  padding: 1rem;
}

.brad,
.content a {
  color: var(--font);
  text-decoration: underline;
  text-decoration-color: var(--accent) !important;
}

.brad:hover,
.content a:hover,
.tag:hover {
  color: var(--accent);
}

.button,
.fn {
  text-align: center;
}

.cnt-lnk {
  height: 2.5rem;
  width: 2.5rem;
}

.cnt-lnk::before {
  background-color: var(--accent);
  border-radius: var(--border-radius);
  height: 2.5rem;
  pointer-events: none;
  transform: scale(0);
  transition: transform var(--duration) ease;
  width: 2.5rem;
}

.cnt-lnk svg {
  transition: fill var(--duration) ease;
}

.cnt-lnk svg {
  fill: var(--font);
}

.cnt-lnk:hover::before {
  transform: scale(1);
}

.cnt-lnk:hover svg {
  fill: var(--background);
}

.fn,
.fn:hover,
.fn:visited {
  color: var(--background) !important;
}

.fn {
  font-size: 0.65rem;
}

.fn-link {
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1;
  padding: 0.25rem 0.25rem 0;
}

.fn-cont {
  background-color: var(--meta);
  display: inline-flex;
  height: 1rem;
  margin-left: 0.25rem;
}

.fn-cont:hover,
.headshot {
  background-color: var(--accent);
}

.headshot {
  height: 6.5rem;
  width: 6.5rem;
  transition: border-radius var(--duration) ease;
}

.headshot:hover {
  border-radius: 43% 57% 43% 57%/36% 64% 36% 64%;
}

.home {
  justify-content: flex-start;
  width: 13.5rem;
}

.noise {
  background-size: calc(2px * var(--noise-size));
  opacity: 0.012;
  pointer-events: none;
  z-index: 999;
}

.perma {
  margin: 1rem 0;
}

.tags,
.tags-wrap {
  flex-wrap: wrap;
}

.tags {
  list-style: none;
  padding: 0;
}

.theme-wrap {
  height: 1.5rem;
  right: 2rem;
  top: 2rem;
  width: 1.3125rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.toggle {
  cursor: pointer;
}

.toggle::after,
.toggle::before,
.noise {
  animation: fade-in 4s;
}

.toggle::after {
  border-radius: 1rem;
  display: inherit;
  height: 1.5rem;
  margin: 0;
  vertical-align: middle;
  width: 1.3125rem;
}

.toggle::before {
  background-color: var(--accent-light);
  border-radius: 100%;
  bottom: 0;
  height: 1rem;
  margin: 0.25rem;
  right: 0;
  transform: rotate(-45deg);
  width: 1rem;
  z-index: 5;
}

#theme:checked ~ .toggle::before {
  right: 0.5rem;
  box-shadow: 0.3125rem 0.3125rem 0 0 var(--accent-light);
  background: transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

/* Layout */
body {
  grid-template-columns: minmax(2rem,1fr) minmax(1rem,75rem) minmax(2rem,1fr);
  grid-template-rows: repeat(3, auto);
}

footer {
  align-items: start;
  grid-gap: 1rem;
  grid-row: 3/4;
  grid-template-columns: 6.5rem minmax(10.5rem,32rem);
  grid-template-rows: min-content 2.5rem;
}

footer dl,
.hire {
  align-self: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

footer dl {
  justify-self: end;
}

main,
footer {
  grid-column: 2/3;
}

header {
  grid-column: 1/4;
  grid-row: 1/2;
  grid-template-columns: auto repeat(2, minmax(13.5rem,37.5rem)) auto;
}

main {
  grid-row: 2/3;
  min-height: calc(100vh - 22rem);
}

nav {
  grid-column: 3/4;
  justify-self: end;
  margin-right: 3rem;
  max-height: 3.5rem;
  max-width: 11rem;
}

.footer-copy {
  max-width: 16rem;
}

.hire {
  justify-self: start;
}

.home {
  grid-column: 2/3;
}

/* Medias */
@media screen and (max-width: 30rem) {
  header {
    border-width: 0 1rem 1rem 0;
    width: calc(100vw - 1rem) !important;
  }

  header::before {
    width: 100vw;
  }

  header::after {
    width: 100vw;
  }

  nav {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: start;
    margin: 0;
  }

  .hire {
    grid-column: 1/2;
  }
}

@media screen and (max-width: 48rem) {
  .hero-copy {
    font-size: 1.5rem;
  }
}
