// Import Dependencies
@import 'variables';
@import 'extends';
@import 'mixins';
@import 'footer';

main {
  @extend %full-width;
}

.main__title,
.main__subtitle {
  font-family: 'Fira Code', monospace;
}

.main__subtitle {
  font-size: 2.5rem;
  line-height: 2.75rem;
}