// Reset
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  @include transition(font-size);

  box-sizing: border-box;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;

  @include media-query-max(600px) {
    font-size: 90%;
  }
}

body {
  color: $bg;
  font-size: 1.1em;
  line-height: 1.25em;
  overflow-x: hidden;

  *::selection {
    background-color: rgba($link, 0.4);
  }
}

abbr,
address,
article,
aside,
audio,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
header,
hgroup,
html,
iframe,
img,
ins,
label,
legend,
main,
mark,
nav,
pre,
q,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
video {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a:visited {
  color: $link;
  text-decoration: none;
}

article,
image,
img,
main,
svg,
video {
  @extend %full-width;
  @extend %margin-horizontal-center;
}

footer,
header {
  padding: 15px;
}

footer,
h1,
h2,
h3,
h4,
header,
sup,
time,
.font--fira,
.meta__tag {
  font-family: $mono;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  margin: 5px 0 10px;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.7rem;
}

h2 {
  font-size: 2.3rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 2.1rem;
  line-height: 2.3rem;
}

h4 {
  font-size: 1.9rem;
  line-height: 2.1rem;
}

image,
img,
svg,
video {
  height: auto;
}

image {
  object-fit: contain;
  object-position: left bottom;
}

input,
textarea {
  border: none;
  padding: 5px;
}

li,
p {
  margin: 5px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden],
.hidden {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

.boxed {
  background-color: $meta;
  box-shadow: 5px 5px 0 0 rgba(33, 35, 46, 0.5), 5px 5px 0 0 rgba($bg, 0.75);
  color: $white;
  margin: 0 5px 5px 0;
  padding: 10px;
}

.color--prompt {
  color: $prompt;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
