@import 'mixins';

// Reset
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  @include transition(font-size);

  box-sizing: border-box;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;

  @include media-query-max(560px) {
    font-size: 90%;
  }
}

body {
  color: $font;
  font-size: 1em;
  line-height: 1.2em;

  *::selection {
    background-color: rgba($link, 0.4);
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

footer,
header {
  padding: 15px;
}

article,
main {
  @extend %full-width;
  @extend %margin-horizontal-center;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h2,
h3,
h4 {
  margin: 5px 0 10px;
}

img,
svg,
video {
  height: auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea {
  border: none;
  padding: 5px;
}

.meta {
  color: $meta;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
