/* COLORS */
.highlight {
  --attr: hsl(135, 94%, 65%);
  --bg: hsl(231, 15%, 18%);
  --del: hsl(0, 100%, 66%);
  --hl: hsl(60, 100%, 90%);
  --int: hsl(265, 89%, 78%);
  --key: hsl(326, 100%, 74%);
  --ln: hsl(0, 0%, 54%);
  --meta: hsl(0, 0%, 57%);
  --name: hsl(191, 97%, 77%);
  --out: hsl(228, 14%, 57%);
  --str: hsl(65, 92%, 76%);
  --txt: hsl(60, 30%, 96%);
}
/* Base */
.chroma .ge,
.chroma .gl {
  text-decoration: underline;
}
.chroma .gh,
.chroma .gi,
.chroma .gu {
  font-weight: bold;
}
.chroma .hl {
  width: 100%;
}
.chroma .kd,
.chroma .nb,
.chroma .nl,
.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi {
  font-style: italic;
}
.chroma .lnt,
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}
.chroma .lntable,
.chroma .hl {
  display: block;
}
.chroma .lntable {
  border-spacing: 0;
  overflow: auto;
  width: auto;
}
.chroma .lntd {
  vertical-align: top;
}
.chroma .lntd,
.chroma .lntable {
  border: 0;
  margin: 0;
  padding: 0;
}
.clip {
  color: var(--txt);
  font-size: 1.25rem;
  padding: 0 0.25rem;;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 5;
}
.clip:hover {
  color: var(--attr);
}
.highlight {
  position: relative;
}
/* Styling */
.chroma {
  background-color: var(--bg);
  border: 0.125em solid hsl(232, 14%, 31%);
  color: var(--txt);
}
.chroma *::selection {
  background-color: var(--txt);
  color: var(--bg);
}
.chroma .hl {
  background-color: var(--hl);
}
.chroma .cp,
.chroma .cpf,
.chroma .k,
.chroma .kc,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .nt,
.chroma .o,
.chroma .ow {
  color: var(--key);
}
.chroma .kd,
.chroma .kt,
.chroma .nb,
.chroma .nl,
.chroma .nl,
.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi {
  color: var(--name);
}
.chroma .lnt,
.chroma .ln {
  color: var(--ln);
}
.chroma .na,
.chroma .nc,
.chroma .nf {
  color: var(--attr);
}
.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
  color: var(--str);
}
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: var(--int);
}
.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs {
  color: var(--meta);
}
.chroma .gd {
  color: var(--accent);
}
.chroma .go {
  color: var(--out);
}
