<svg class="main__img main__img--hero" viewBox="0 0 340 467">
  <filter id="duotone" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
   <feColorMatrix type="matrix"
      values=".33 .33 .33 0 0
              .33 .33 .33 0 0
              .33 .33 .33 0 0
              0 0 0 1 0" in="SourceGraphic" result="colormatrix" >
    </feColorMatrix>
    <feComponentTransfer in="colormatrix" result="componentTransfer">
      <feFuncR type="table" tableValues="0.34 1 1"/>
      <feFuncG type="table" tableValues="0.93 0.5 1"/>
      <feFuncB type="table" tableValues="0.53 0.75 1"/>
      <feFuncA type="table" tableValues="0 1"/>
    </feComponentTransfer>
    <feBlend mode="color" in="componentTransfer" in2="SourceGraphic" result="blend"/>
  </filter>
  {{ $webp := resources.Get "img/juan.webp" }}
  {{ $img := resources.Get "img/juan.png" }}
  <image id="hero__avatar--webp" class="hidden" xlink:href="{{ $webp.Permalink }}" width="100%" x="0" y="0" height="100%" filter="url(#duotone)"></image>
  <image id="hero__avatar--png" xlink:href="{{ $img.Permalink }}" width="100%" x="0" y="0" height="100%" filter="url(#duotone)"></image>
</svg>