<header class="font--fira header">
  <span class="color--prompt header__prompt" aria-hidden="true">&lambda;</span>
  <a href="{{ .Site.BaseURL }}" class="header__link header__link--home">juan_villela</a>
  <nav class="header__nav {{ if eq .Type "writing" }}writing{{ end }}">
    <a href='{{ if .IsHome }}{{ "#writing" | relURL }}{{ else }}{{ "writing" | relURL }}{{ end }}' class="header__link header__link--nav" data-target="writing">writting</a>
    <span class="color--prompt" aria-hidden="true">::</span>
    <a href='{{ "#work" | relURL }}' class="header__link header__link--nav" data-target="work">work</a>
    <span class="color--prompt" aria-hidden="true">::</span>
    <a href='{{ "#contact" | relURL }}' class="header__link header__link--nav" data-target="contact">contact</a>
    {{ if eq .Type "writing" }}
      <span class="color--prompt" aria-hidden="true">::</span>
      <a href='{{ "writing/index.xml" | relURL }}' class="header__link header__link--nav" data-target="contact">rss</a>
    {{ end }}
  </nav>
</header>
