{{/*  Service Worker  */}}
{{ $sw := resources.Get "sw.js" | minify }}
<script>
  if (navigator.serviceWorker) {
    navigator.serviceWorker.register("{{ $sw.Permalink }}", { scope: "/" });
    navigator.serviceWorker.ready.then(registration => {
      console.log(`                                  ....
                              .'' .'''
.                             .'   :
\\                          .:    :
\\                        _:    :       ..----.._
\\                    .:::.....:::.. .'         ''.
  \\   -----------   .'  #-. .-######'     #        '.
  \\ | SW Ready! |    '.##'/ ' ################       :
    \\ -----------      #####################         :
    \\               ..##.-.#### .''''###'.._        :
      \\             :--:########:            '.    .' :
      \\..__...--.. :--:#######.'   '.         '.     :
      :     :  : : '':'-:'':'::        .         '.  .'
      '---'''..: :    ':    '..'''.      '.        :'
          \\  :: : :     '      ''''''.     '.      .:
          \\ ::  : :     '            '.      '      :
            \\::   : :           ....' ..:       '     '.
            \\::  : :    .....####\\ .~~.:.             :
              \\':.:.:.:'#########.===. ~ |.'-.   . '''.. :
              \\    .'  ########## \ \ _.' '. '-.       '''.
              :\\  :     ########   \ \      '.  '-.        :
              :  \\'    '   #### :    \ \      :.    '-.      :
            :  .'\\   :'  :     :     \ \       :      '-.    :
            : .'  .\\  '  :      :     :\ \       :        '.   :
            ::   :  \\'  :.      :     : \ \      :          '. :
            ::. :    \\  : :      :    ;  \ \     :           '.:
            : ':    '\\ :  :     :     :  \:\     :        ..'
                :    ' \\ :        :     ;  \|      :   .'''
                '.   '  \\:                         :.''
                .:..... \\:       :            ..''
                '._____|'.\\......'''''''.:..'''
                          \\`);
    });
    window.addEventListener("load", () => {
      if (navigator.serviceWorker.controller) {
        navigator.serviceWorker.controller.postMessage({ command: "trimCaches" });
      }
    });
  }
</script>