{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="content__container single">
    <h1 class="boxed single__title">{&nbsp;404 Not Found&nbsp;}</h1>
    {{ $webp := resources.Get "img/err-404.webp" }}
    {{ $img := resources.Get "img/err-404.png" }}
    <picture class="single__err-img">
      <source srcset="{{ $webp.Permalink }}" type="image/webp">
      <source srcset="{{ $img.Permalink }}" type="image/png">
      <img src="{{ $img.Permalink }}" alt="I found you."/>
    </picture>
  </main>
  {{ partial "footer.html" . }}
{{ end }}
