{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="main">
    <section id="intro" class="main__section main__section--intro">
      {{ $webp := resources.Get "img/avatar.webp" }}
      {{ $img := resources.Get "img/avatar.png" }}
      <picture class="main__img main__img--hero">
        <source srcset="{{ $webp.Permalink }}" type="image/webp">
        <source srcset="{{ $img.Permalink }}" type="image/png">
        <img src="{{ $img.Permalink }}" alt="Juan Villela"/>
      </picture>
      <div class="main__hero">
        <h1 class="main__title">{&nbsp;Hi, I'm Juan.&nbsp;}</h1>
        <p class="main__copy">I'm a web developer, automation and astronomy nerd currently working independently helping businesses build accessible and performant static sites.</p>
      </div>
    </section>
    <section id="work" class="main__section main__section--work">
      <h2 class="main__subtitle">{&nbsp;Work&nbsp;}</h2>
      <ul class="main__work-list">
          {{/*  Loop over work data file and get client object values.  */}}
          {{ range $i, $client := .Site.Data.work.recent }}
          <li class="main__work-item">
            {{/*  Grab client name, replace space with dashes, change to lower case. This generates the image filename.  */}}
            {{ $clientImg := replaceRE " " "-" $client.name | lower }}
            {{ $webp := resources.Get (print "img/" $clientImg ".webp") }}
            {{ $img := resources.Get (print "img/" $clientImg ".png") }}
            <a href="{{ $client.website }}" target="_blank" rel="noopener noreferrer">
              <picture class="main__img main__img--client">
                <source srcset="{{ $webp.Permalink }}" type="image/webp">
                <source srcset="{{ $img.Permalink }}" type="image/png">
                <img src="{{ $img.Permalink }}" alt="{{ $client.name }}"/>
              </picture>
            </a>
            <div class="work__meta">
              <a href="{{ $client.website }}" class="meta--fira main__client-name" target="_blank" rel="noopener noreferrer">{{ $client.name }}</a>
              <time class="meta--fira main__client-date" datetime="{{ $client.date }}">{{ $client.date }}</time>
            </div>
            <p class="main__client-description">{{ $client.description }}</p>
            <ul class="main__skills-list">
              {{ range $key, $skill := $client.skills }}
                {{- if ne $key 0 }}<span class="skill__separator" aria-hidden="true">::</span>{{ end }}
                <li class="main__skill">{{ $skill }}</li>
              {{ end }}
            </ul>
          </li>
          {{ end }}
        </ul>
    </section>
    <section id="writing" class="main__section main__section--writing">
      <h2 class="main__subtitle">{&nbsp;Writing&nbsp;}</h2>
      {{/*  Get last 5 writing post and range over them.  */}}
      {{ $writing := ($.Site.GetPage "section" "writing").Pages }}
      <ul class="main__writing-list">
        {{ range last 5 $writing }}
          <li class="main__writing-entry">{{ .Render "summary" }}</li>
        {{ end }}
      </ul>
      <a href='{{ "writing" | relURL }}' class="meta--fira main__nav-link">Read more</a>
    </section>
  </main>
  {{ partial "footer.html" . }}
{{ end }}
