{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="main">
    <section class="main__section main__section--intro">
      <h1 class="main__title">{ Hi, I'm Juan. }</h1>
      <p class="main__hero">I'm a web developer and automation nerd living and working in Washington, DC.</p>
      <p class="main__hero main__hero--sub">I currently work independently helping companies build accessible and performant static sites.</p>
      {{ $webp := resources.Get "img/avatar.webp" }}
      {{ $img := resources.Get "img/avatar.png" }}
      <picture class="main__img main__img--hero">
        <source srcset="{{ $webp.Permalink }}" type="image/webp">
        <source srcset="{{ $img.Permalink }}" type="image/png">
        <img src="{{ $img.Permalink }}" alt="Juan Villela"/>
      </picture>
    </section>
    <section class="main__section main__section--work">
      <h2 class="main__subtitle">{ Recent Work }</h2>
      <ul class="main__work-list">
          {{/*  Loop over work data file and get client object values.  */}}
          {{ range $i, $client := .Site.Data.work.recent }}
          <li class="main__work-item">
            {{/*  Grab client name, replace space with dashes, change to lower case. This generates the image filename.  */}}
            {{ $clientImg := replaceRE " " "-" $client.name | lower }}
            {{ $webp := resources.Get (print "img/" $clientImg ".webp") }}
            {{ $img := resources.Get (print "img/" $clientImg ".png") }}
            <picture class="main__img main__img--client">
              <source data-srcset="{{ $webp.Permalink }}" type="image/webp">
              <source data-srcset="{{ $img.Permalink }}" type="image/png">
              <img data-src="{{ $img.Permalink }}" alt="" class="lazy"/>
            </picture>
            <a href="{{ $client.website }}" class="main__client-name">{{ $client.name }}</a>
            <p class="main__client-description">{{ $client.description }}</p>
            <time class="main__client-date" datetime="{{ $client.date }}">{{ $client.date }}</time>
            <div class="main__skills-list">
              <p class="main__skill"></p>
            </div>
          </li>
          {{ end }}
        </ul>
    </section>
    <section class="main__section main__section--writing">
      <h2 class="main__subtitle">{ Latest Writing }</h2>
      {{/*  Get last 5 writing post and range over them.  */}}
      {{ $writing := ($.Site.GetPage "section" "writing").Pages }}
      <ul class="main__writing-list">
        {{ range last 5 $writing }}
          <li class="main__writing-entry">{{ .Render "summary" }}</li>
        {{ end }}
      </ul>
      <a href='{{ "writting" | relURL }}' class="main__nav-link">Read more</a>
    </section>
  </main>
  {{ partial "footer.html" . }}
{{ end }}
