@import './extends.scss';

@font-face {
  font-display: swap;
  font-family: rubik;
  font-style: normal;
  font-weight: 400;
  src: local(Rubik-Regular), local(Rubik-Regular),
    url(/fonts/Rubik-Regular.woff2) format('woff2'),
    url(/fonts/Rubik-Regular.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: dyslexic;
  font-style: normal;
  font-weight: 400;
  src: local(OpenDyslexic-Regular), local(OpenDyslexic-Regular),
    url(/fonts/OpenDyslexic-Regular.woff2) format('woff2'),
    url(/fonts/OpenDyslexic-Regular.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: dyslexic;
  font-style: normal;
  font-weight: 700;
  src: local(OpenDyslexic-Bold), local(OpenDyslexic-Bold),
    url(/fonts/OpenDyslexic-Bold.woff2) format('woff2'),
    url(/fonts/OpenDyslexic-Bold.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: fira code;
  font-style: normal;
  font-weight: 400;
  src: local(FiraCode-Regular), local(FiraCode-Regular),
    url(/fonts/FiraCode-Regular.woff2) format('woff2'),
    url(/fonts/FiraCode-Regular.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: fira code;
  font-style: normal;
  font-weight: 700;
  src: local(FiraCode-Bold), local(FiraCode-Bold),
    url(/fonts/FiraCode-Bold.woff2) format('woff2'),
    url(/fonts/FiraCode-Bold.woff) format('woff');
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background-color: var(--font);
  color: var(--background);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  @extend %overflow-x-hidden;

  background-color: var(--background);
  border-bottom: calc(var(--border-width) * 2) solid var(--accent);
  color: var(--font);
  font-family: var(--sans);
  font-size: 1em;
  line-height: 1.4;

  .dyslexic {
    font-family: var(--dys);
    font-size: 0.85em;
  }
}

a {
  @extend %no-underline;
  @extend %transition--all;

  color: var(--font);

  &:hover {
    @extend %underline;

    color: var(--font);
    text-decoration-color: var(--accent) !important;
  }

  &:visited {
    color: var(--font);
  }

  &:not([class]) {
    @extend %underline;

    text-decoration-color: var(--accent) !important;

    &:hover {
      color: var(--accent);
    }
  }
}

blockquote,
li,
p,
.highlight {
  margin: 0.75rem 0;
}

blockquote {
  border-left: 0.125em solid var(--accent);
  padding-left: 0.75rem;
}

code,
h1,
h2,
h3,
h4,
kbd,
pre,
pre code,
sup,
time,
.home::before,
.mono {
  font-family: var(--mono);
}

body.dyslexic {
  code,
  h1,
  h2,
  h3,
  h4,
  kbd,
  pre,
  pre code,
  sup,
  time,
  .home::before,
  .tags {
    font-family: var(--dys);
  }
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.3;
  text-transform: capitalize;
}

h2,
h3,
h4 {
  margin: 2rem 0 1rem;
}

h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

img {
  @extend %m--horizontal;

  height: auto;
  object-fit: contain;
  object-position: left bottom;
}

p code {
  @extend %border--curved;

  border: 0.125em solid var(--font);
  padding: 0.0625rem 0.5rem;
}

picture {
  @extend %overflow-hidden;
}