@import 'extends';

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background-color: var(--font);
  color: var(--background);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  @extend %overflow-x-hidden;

  background-color: var(--background);
  border-bottom: calc(var(--border-width) * 2) solid var(--accent);
  color: var(--font);
  font-family: var(--sans);
  font-size: 1em;
  line-height: 1.4;

  .dyslexic {
    font-family: var(--dys);
    font-size: 0.85em;
  }
}

a {
  transition: color var(--duration) ease;
}

a:visited {
  color: inherit;
}

article,
footer,
header,
image,
img,
main {
  @extend %m--horizontal;
  @extend %w-100;
}

blockquote {
  border-left: 0.125em solid var(--accent);
  padding-left: 0.75rem;
}

button {
  background: none;
  outline: none;
}

code,
h1,
h2,
h3,
h4,
kbd,
pre,
pre code,
sup,
time,
.home::before,
.mono {
  font-family: var(--mono);
}

body.dyslexic {
  code,
  h1,
  h2,
  h3,
  h4,
  kbd,
  pre,
  pre code,
  sup,
  time,
  .home::before,
  .mono {
    font-family: var(--dys);
  }
}

code,
kbd,
pre,
pre code,
sup,
.highlight {
  font-size: 0.875rem;
  font-style: normal;
}

header a:hover,
footer a:hover {
  text-decoration-color: var(--accent);
  text-decoration-style: solid;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.3;
  text-transform: capitalize;
}

h2,
h3,
h4 {
  margin: 2rem 0 1rem;
}

h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

hr {
  border: var(--border-width) solid var(--accent);
  margin: 1.5rem 0 0;
}

image,
img,
video {
  height: auto;
}

img,
image {
  object-fit: contain;
  object-position: left bottom;
}

input,
textarea {
  border: none;
  padding: 0.5rem;
}

blockquote,
li,
p,
.highlight {
  margin: 0.75rem 0;
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}

kbd,
p code,
pre,
.banner,
.button {
  @extend %border;
}

kbd,
p code {
  border: 0.125em solid var(--font);
  padding: 0.0625rem 0.5rem;
}

kbd {
  box-shadow: var(--box);
}

picture {
  @extend %overflow-hidden;
}

pre {
  @extend %ma0;
  @extend %overflow-x-hidden;

  padding: 2.5rem 1rem 1rem;
}
